################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug
/AutomaticReminder/obj/Debug
/AutomaticReminderCommon/obj/Debug
/AutomaticReminderController/obj/Debug
